*{
    margin: 0px;
    padding: 0px;
}
body{
    /* background-color: rgba(85, 201, 205, 0.836); */
    background-image: url(./expense.webp);    
    display:flex;
    justify-content: center;
    margin-top: 25vh;
}
.container h1{
    margin-top: 25px;
    text-align: center;
    font-family:'Times New Roman', Times, serif ;
}
.container{
    height: 300px;
    width: 350px;
    border: 2px solid black;
    /* -webkit-backdrop-filter: blur(5px); */
    backdrop-filter:blur(50px);
    border-radius: 20px;
   
}
.form{
    padding: 10px;
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
}
.button{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}
.form input{
   width: 80%;
   height: 30px;
   border-radius: 8px;
   border: 2px solid #00c853;
   outline: none;
   box-shadow: none;
   padding: 4px;
}
.button input{
    margin-top: 10px;
    width: 37%;
    height: 30px;
    border-radius: 5px;
}
#expense{
    background-color: #1E7F43;
    color: #ffffff;
}
#reset{
    border-color: #9CA3AF;
    color: #374151;
    background-color: #F3F4F6;
}
.form input:hover{
    border-color:blue ;
    box-shadow: 2px 1px blue;
}
#expense:hover{
    border-color: black;
    box-shadow: 2px 1px black;
}
#reset:hover{
    box-shadow: 2px 2px black;
}
